
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: red;
  color: white;
  text-align: center;
}

footer {
  background-color: aqua;
  color: black;
  text-align: center;
}


.holy-grail {
  display: flex;
  flex: 1;
  flex-wrap: nowrap; 
  width: 100%;
}


.left, .right, main {
  flex: 0 0 auto;
}


.left {
  background-color: beige;
  flex-basis: 200px;   
}


.right {
  background-color: green;
  color: white;
  flex-basis: 200px;  
}


main {
  background-color: white;
  flex: 1 1 auto;    
}


@media (min-width: 600px) and (max-width: 900px) {
  .holy-grail {
    flex-wrap: wrap;      
  }

  main {
    order: 1;
    flex-basis: 100%;    
  }

  .left {
    order: 2;
    flex-basis: 50%;  
  }

  .right {
    order: 3;
    flex-basis: 50%;  
  }
}

/* Mobile <600px */
@media (max-width: 599px) {
  .holy-grail {
    flex-direction: column;
  }

  main { order: 1; flex-basis: 100%; }
  .left { order: 2; flex-basis: 100%; }
  .right { order: 3; flex-basis: 100%; }
}

/* Desktop >900px */
@media (min-width: 901px) {
  .holy-grail {
    flex-wrap: nowrap;
  }

  .left { order: 1; flex-basis: 200px; }
  main { order: 2; flex: 1 1 auto; }
  .right { order: 3; flex-basis: 200px; }
}
